<!DOCTYPE html>
<html>
<head>
  <!--Import Bootstrap, CSS file and JS file-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <link rel= "stylesheet" href="../static/patientStyle.css">
  <script src="../templates/patient.js"></script>

  <title> Step Out </title>
  <link rel="icon" type="image/icon" href="imgs/favicon.ico"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
   
<body>
  <div style="display:grid; grid-template-rows:70px 1fr; min-height:0; height:100vh;">

    <!--Top Section-->
    <div class="top-section">
      <div style="flex:1">
        <img src="../static/imgs/STEP OUT Logo.png" class="stepout"/>
      </div>
      <div id="cover">
        <form method="get" action="">
          <div class="tb">
            <div class="td" style="margin: 10px 10px"><input type="text" class="top-search" placeholder="Search for a patient" required></div>
            <div class="td" id="s-cover">
              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div style="display:flex; flex:1; justify-content:flex-end">
        <img class="circular--landscape" src="../static/imgs/STEP OUT Logo.png" />
      </div>
    </div>

    <!--Non-Top Section-->
    <div style="display:grid; grid-template-columns:330px 1fr; background-color: white; margin-top:1px">
      <!--Left Section-->
      <div style="display:grid; grid-template-rows:310px 1fr; margin:0px 18px 0px 18px;">
        <!--Personal Information-->
        <div style="display:grid; grid-template-rows:65px 180px 10px;">
          <tb>Personal Information</tb>
          <div style="display:grid; grid-template-columns:1fr 1fr;">
            <div class="row">
              <t>Patient ID:</t>
              <t>Surname:</t>
              <t>Given Name:</t>
              <t>Gender:</t>
              <t>D.O.B:</t>
              <t>Admission Date:</t>
              <t>Ward:</t>
              <t>Doctor in Charge:</t>
              <t>Previous Updates:</t>
            </div>
            <div class="row" style="text-align:right;">
              <t>P12348</t>
              <t>Lee</t>
              <t>Mark Ming Hung</t>
              <t>M</t>
              <t>1/4/1999</t>
              <t>13/4/2023</t>
              <t>ED-A</t>
              <t>Dr. Alexandra Anne</t>
              <t>15/4/2023, 1.35pm</t>
            </div>
          </div>
          <div style="text-align:right;">
            <t style="font-size:12px;"><u>More Details</u></t>
          </div>
          <hr/>
        </div>

        <!--Current Status-->
        <div style="display:grid; grid-template-rows:45px 1fr 1fr 1fr; justify-content:center">
          <div style="display:grid; grid-template-columns:1fr 1fr">
            <tb>Current Status</tb>
            <button class="edit">
              <img class="edit-img" src="../static/imgs/edit.png"/>
            </button>
          </div>
          <!--Hopsitalized-->
          <div class="status">
            <div class="status-name" style="background-color:#7b1bff">
              <tb>Hospitalized</tb>
            </div>
            <div class="status-desc" style="margin-top:50px;">
              <t>Patient still requires medical attention.</t>
            </div>
            <img class="status-img" src="../static/imgs/hospitalized.png"/>
          </div>
          <!--Outlying-->
          <div class="status">
            <div class="status-name" style="background-color:#ff7b1b;">
              <tb style="margin-right:18px">Outlying </tb>
            </div>
            <div class="status-desc">
              <t>Patient can receive treatment from home by PCA.</t>
            </div>
            <img class="status-img" src="../static/imgs/outlying.png"/>
          </div>
          <!--Recovered-->
          <div class="status"> 
            <div class="status-name" style="background-color:#00bf8f">
              <tb style="margin-right:5px">Recovered<tb>
            </div>
            <div class="status-desc">
              <t>Patient can check out from the hospital.</t>
            </div>
            <img class="status-img" src="../static/imgs/recovered.png"/>
          </div>
        </div>
      </div>

      <!--Right Section-->
      <div style="display:grid; grid-template-rows:1fr 3fr">
        <!--Charts and Documents-->
        <div style="display:grid; grid-template-rows:55px 1fr">
          <div style="display:grid; grid-template-columns:1fr 1fr">
            <div style="margin-top:22px">
              <tb>Related Charts and Documents</tb>
            </div>
            <div style="display:grid; justify-content:flex-end; margin:15px 15px 0 0">
              <button class="save">Save and Exit</button>
            </div>
          </div>
          <div class="container">
            <div class="document-container">
              <button class="document">Observation Chart</button>
            </div>
            <div class="document-container">
              <button class="document">Prescription Chart</button>
            </div>
            <div class="document-container">
              <button class="document">Records of Patient Status Prediction</button>
            </div>
            <div class="document-container">
              <button class="document">2+ Documents</button>
            </div>
          </div>
        </div>

        <!--Patient Status AI Prediction-->
        <div class="column">
          <tb style="text-align:left;">Patient Status AI Prediction</tb>

          <!--Patient Details-->
          <div class="container" style="margin-top:15px;">

            <!--First section, displayed by default-->
            <div class="basic-details" id="basic-details">
              <div class="details-title">Patient Personal Details Confirmation and Vital Signs</div>
              <div>
                <t>Age: 24 years old</t>
              </div>
              <div>
                <t>Gender: M</t>
              </div>
              <div>
                <form>
                  <div class="details-container">
                    <div class="details">
                      <label for="Blood Pressure">Blood Pressure (mmHg)</label>
                      <div class="details-form"><input type="number" id="Blood Pressure" class="details-input"></input></div>
                    </div>
                    <div>
                      <label for="Oxygen Flow Rate"> Oxygen Flow Rate (lpm)</label>
                      <div class="details-form"><input type="number" id="Oxygen Flow Rate" class="details-input"></input></div>
                    </div>
                    <div>
                      <label for="Oxygen Saturation">Oxygen Saturation (%)</label>
                      <div class="details-form"><input type="number" id="Oxygen Saturation" class="details-input"></input></div>
                    </div>
                  </div>
                </form>
              </div>
              <div class="low-button">
                <button class="save" id="Save" type ="submit">Next</button>
              </div>
            
            </div>

            <!--2nd Section, display is set to none by default and will be shown after clicking on 'next' button-->
            <div class="categories" id="conditions">
              <div class="categories-border">
                <div class="container-header">
                  <numbering>1</numbering>
                  
                  <form class="search-form" method="get" action="">
                    <div class="tb">
                      <div class="td"><input type="text" class="category-search" placeholder="Search for a patient" required></div>
                      <div class="td" id="s-cover">
                        <button type="submit">
                          <div id="s-circle"></div>
                          <span></span>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <button class="category" style="color:white; background-color:#1a5154" id="general">
                  <img src="../static/imgs/generalSicknessW.png"/>
                  General Sickness
                </button>
                <button class="category" id="chest">
                  <img src="../static/imgs/chest.png"/>
                  Chest
                </button>
                <button class="category" id="hand">
                  <img src="../static/imgs/hand.png"/>
                  Hand
                </button>
                <button class="category" id="head">
                  <img src="../static/imgs/head.png"/>
                  Head
                </button>
                <button class="category" id="leg">
                  <img src="../static/imgs/leg.png"/>
                  Leg
                </button>
                <button class="category" id="sensory">
                  <img src="../static/imgs/sensory.png"/>
                  Sensory Organs
                </button>
                <button class="category" id="stomach" style="border-style:none;">
                  <img src="../static/imgs/stomach.png"/>
                  Stomach
                </button>               
              </div>
              <div class="symptoms-container">
                <div class="container-header">
                  <numbering>2</numbering>
                  <tb style="margin:15px 50px 0px 0px">General Sickness Symptoms</tb>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="1" value="Allergies"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Allergies</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="2" value="Colds"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Colds</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="3" value="Coughing"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Coughing</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="4" value="Flu"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Flu</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="5" value="Diarrhea"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Diarrhea</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="6" value="Fatigue"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Fatigue</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name=7 value="Fever"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Fever</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="8" value="Muscle Aches"/>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Muscle Aches</label>
                </div>
              </div>
              <div class="symptoms-buttons">
                <div>
                  <button class="save add">+ Add Category</button>
                </div>
                <div>
                  <button class="save update">Update Patient Status</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>